Data structures provide us with a specific and way of storing and organizing data such that they can be easily accessed and worked with efficiently. In this article, you will learn about the various Python data structures and how they are implemented.

Broadly speaking, data structures can be classified into two types – primitive and non-primitive. The former is the basic way of representing data which contain simple values. The latter is a more advanced and a complex way off representing data that contain a collection of values in various formats. 

Non primitive data structures can further be categorized into built-in and user defined structures. Python offers implicit support for built in structures that include List, Tuple, Set and Dictionary. Users can also create their own data structures (like Stack, Tree, Queue, etc.) enabling them to have a full control over their functionality.

## LIST

- A list is a mutable sequence that can hold both homogeneous and heterogeneous data, in a sequential manner. An address is assigned to every element of the list, called an Index. The elements within a list are comma-separated and enclosed within square brackets. 

- You can add, remove, or change elements from the list without changing its identity.

##### Creating a List

In [2]:
initial_list = [1,2,3,4]
print(initial_list)

[1, 2, 3, 4]

Lists can contain different types of variable, even in the same list

In [4]:
my_list = ['R', 'Python', 'Julia', 1,2,3]
print(my_list)

['R', 'Python', 'Julia', 1, 2, 3]

##### Adding elements

In [14]:
my_list = ['R', 'Python', 'Julia']
print(my_list)

['R', 'Python', 'Julia']

In [15]:
my_list.append(['C','Ruby'])
print(my_list)

['R', 'Python', 'Julia', ['C', 'Ruby']]

In [16]:
my_list.extend(['Java', 'HTML'])
print(my_list)

['R', 'Python', 'Julia', ['C', 'Ruby'], 'Java', 'HTML']

In [17]:
my_list.insert(2, 'JavaScript')
print(my_list)

['R', 'Python', 'JavaScript', 'Julia', ['C', 'Ruby'], 'Java', 'HTML']

•	The insert function adds an element at the position/index specified. 

•	The append function will add all elements specified, as a single element.

•	The extend function will add elements on a one-by-one basis.

##### Accessing elements

- Lists can be indexed using square brackets to retrieve the element stored in a particular position.  
- Indexing is exactly similar to indexing in strings except that indexing in lists returns the entire item at that position whereas in strings, the character at that position is returned

In [18]:
print(my_list[0])

R

In [19]:
print(my_list[3])

Julia

In [21]:
print(my_list[0:3]) #prints elements from 0 to 2, excludes element at index 3

['R', 'Python', 'JavaScript']

In [22]:
print(my_list[-1]) #prints the first element from the last

HTML

##### Deleting Elements

In [23]:
del my_list[3]

In [24]:
list_2 = my_list.pop(2)
print('This is the popped element: ', list_2, 'This is the remaining list: ', my_list)

This is the popped element:  JavaScript This is the remaining list:  ['R', 'Python', ['C', 'Ruby'], 'Java', 'HTML']

In [26]:
my_list.remove('R')

In [27]:
print(my_list)

['Python', ['C', 'Ruby'], 'Java', 'HTML']

- Remove is used when you want to remove element by specifying its value. 

- Use del to remove an element by index, pop() to remove it by index if you need the returned value.

##### Slicing a List

- While indexing is limited to accessing a single element, slicing accesses a sequence of data from a list. 
- Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as [ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [28]:
numerical = [0,1,2,3,4,5,6,7,8,9]
print(numerical[0:3])

[0, 1, 2]

In [29]:
print(numerical[3:])

[3, 4, 5, 6, 7, 8, 9]

To check if an element is present in a list or not

In [30]:
names = ['Earth','Air','Fire','Water']

In [31]:
'Earth' in names

True

In [32]:
'Oxygen' in names

False

In [33]:
print(len(names)) # length of the list

4

In [37]:
print(names.index('Earth'))#the index value of 'Earth' where it has been encountered the first time.

0

In [38]:
print(names.count('Air')) # finds the count of the value passed to it

1

Sort Function

In [40]:
numero = [1,12,4,25,19,8,29,6] # print the sorted list but not change the original one.
print(sorted(numero))

[1, 4, 6, 8, 12, 19, 25, 29]

In [41]:
numero.sort(reverse=True)
print(numero)

[29, 25, 19, 12, 8, 6, 4, 1]

Max, Min and ASCII value

- In a list with elements as string, max( ) and min( ) is applicable. max( ) would return a string element whose ASCII value is the highest and the lowest when min( ) is used. 
- Only the first index of each element is considered each time and if their value is the same then the second index is considered and so on and so forth.

In [42]:
new_list = ['apple','orange','banana','kiwi','melon']
print(max(new_list))
print(min(new_list))

orange
apple

And what happens in case numbers are declared as strings?

In [44]:
new_list1 =['3','45','22','56','11']
print(max(new_list1))
print(min(new_list1))

56
11

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

You can also find the max( ) string element based on the length of the string then another parameter 'key=len' is declared inside the max( ) and min( ) function.

In [45]:
print(max(new_list, key=len))
print(min(new_list, key=len))

orange
kiwi

A string can be converted into a list by using the list() function.

In [46]:
list('Fruits')

['F', 'r', 'u', 'i', 't', 's']

List of words? Let's try using .split() which splits a string on the basis of spaces.

In [47]:
test_string = 'I will now convert this to a list of words'
print(test_string.split())

['I', 'will', 'now', 'convert', 'this', 'to', 'a', 'list', 'of', 'words']

What about splitting on something else? Like a period? and then try to make it like a normal sentence using .join?

In [48]:
string_to_split = 'Hi.Can.we.get.rid.of.the.periods.here'
list_var = string_to_split.split('.')
print(list_var)

['Hi', 'Can', 'we', 'get', 'rid', 'of', 'the', 'periods', 'here']

In [49]:
#Let's join it back with spaces and reassign it to the original name
string_to_split = " ".join(list_var)
print(string_to_split)

Hi Can we get rid of the periods here

In [50]:
#Let's do it as a one-liner
string_to_split = 'Hi.Can.we.get.rid.of.the.periods.here'
out =  " ".join(string_to_split.split('.'))
print(out)

Hi Can we get rid of the periods here

##### Copying and working on a list

In [51]:
list_new = [1,2,3,4,5]
list_new_2 = list_new
print(list_new_2)

[1, 2, 3, 4, 5]

Let us perform some random operations on the original list.

In [52]:
list_new.pop()
print(list_new)
list_new.append(9)
print(list_new)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]

In [53]:
print(list_new_2)

[1, 2, 3, 4, 9]

Although no operation has been performed on the copied list, the values for it have also been changed. This is because you have assigned the same memory space of new_list to new_list_2. 
How do we fix this?

If you recall, in slicing we had seen that parent list [a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of list_new to list_new_2 as a variable.

In [56]:
list_new = [1,2,3,4,5]
list_new_2 = list_new[:]
print(list_new_2)
list_new.pop()
print(list_new)
list_new.append(9)
print(list_new)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 9]

In [57]:
print(list_new_2) # notice the list values haven't changed this time.

[1, 2, 3, 4, 5]

## TUPLE

Tuples are used to hold together multiple objects. Unlike lists, tuples are both immutable and specified within parentheses instead of square brackets. The values within a tuple cannot be overridden, that is, they cannot be changed, deleted, or reassigned. Tuples can hold both homogeneous and heterogenous data.

In [58]:
new_tuple = (10,20,30,40,50)
print(new_tuple)

(10, 20, 30, 40, 50)

In [61]:
print(new_tuple[0])
print(new_tuple[1])
print(new_tuple[:])
print(new_tuple[-1])

10
20
(10, 20, 30, 40, 50)
50

Appending a tuple

In [62]:
tuple_1 = (1,2,3,4,5)
tuple_1 = tuple_1 + (6,7,8,9,10)
print(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Tuples are immutable

In [63]:
new_tuple.append(8)

AttributeError: 'tuple' object has no attribute 'append'

Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, let's use the divmod() function.

In [64]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

In [65]:
12,

(12,)

In [66]:
3*(12,)

(12, 12, 12)

12 when multiplied by 3 yields 36, But when multiplied with a tuple the data is repeated thrice.

In [67]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

- count() function counts the number of specified element that is present in the tuple.
- index() function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [68]:
example = ("Mumbai","Chennai","Delhi","Kolkatta","Mumbai","Bangalore")
print(example.count("Mumbai"))

print(example.index("Delhi"))

2
2

## DICTIONARY

- If you are looking to implement something like a telephone book, a dictionary is what you need. Dictionaries basically store ‘key-value’ pairs. In a phone directory, you’ll have Phone and Name as keys and the various names and numbers assigned are the values. The ‘key’ identifies an item and the ‘value’ stores the item’s value. The ‘key-value’ pairs are separated by commas and the values are separated from the keys using a colon ‘:’ character. 

- You can add, remove, or change existing key-value pairs in a dictionary.

In [81]:
new_dict = {} # empty dictionary
print(new_dict)
new_dict = {'Jyotika':1, 'Manu':2, 'Geeta':3, 'Manish':4}
print(new_dict)

{}
{'Jyotika': 1, 'Manu': 2, 'Geeta': 3, 'Manish': 4}

In [82]:
new_dict['Manish'] = 5 # changing elements
print(new_dict)

{'Jyotika': 1, 'Manu': 2, 'Geeta': 3, 'Manish': 5}

In [83]:
new_dict['Sita'] = 6 # adding a key-value pair
print(new_dict)

{'Jyotika': 1, 'Manu': 2, 'Geeta': 3, 'Manish': 5, 'Sita': 6}

##### Deleting key-value pairs

- To delete the values, you use the pop() function which returns the value that has been deleted.
- To retrieve the key-value pair, you use the popitem() function which returns a tuple of the key and value.
- To clear the entire dictionary, you use the clear() function.

In [84]:
new_dict_2 = new_dict.pop('Manu')
print(new_dict_2)

2

In [85]:
new_dict_3 = new_dict.popitem()
print(new_dict_3)

('Sita', 6)

values( ) function returns a list with all the assigned values in the dictionary.

In [86]:
print(new_dict.values())
print(type(new_dict.values()))

dict_values([1, 3, 5])
<class 'dict_values'>

keys( ) function returns all the index or the keys to which contains the values that it was assigned to.

In [87]:
print(new_dict.keys())
print(type(new_dict.keys()))

dict_keys(['Jyotika', 'Geeta', 'Manish'])
<class 'dict_keys'>

items( ) returns a list containing both the list but each element in the dictionary is inside a tuple.

In [88]:
print(new_dict.items())

#convert to list of tuples
print(list(new_dict.items()))

dict_items([('Jyotika', 1), ('Geeta', 3), ('Manish', 5)])
[('Jyotika', 1), ('Geeta', 3), ('Manish', 5)]

In [91]:
new_dict.clear() # .clear() function is used to empty a dictionary
print(new_dict)

{}

## SETS

Sets are an unordered collection of unique elements. Sets are mutable but can hold only unique values in the dataset. Set operations are similar to the ones used in arithmetic.

In [93]:
new_set = {1,2,3,3,3,4,5,5}
print(new_set)

{1, 2, 3, 4, 5}

In [94]:
new_set.add(8)
print(new_set)

{1, 2, 3, 4, 5, 8}

In [95]:
new_set_1 = {1,3} 
print(new_set - new_set_1)

{8, 2, 4, 5}

##### Other operations on sets

- The union() function combines the data present in both sets.
- The intersection() function finds the data present in both sets only.
- The difference() function deletes the data present in both and outputs data present only in the set passed.
- The symmetric_difference() does the same as the difference() function but outputs the data which is remaining in both sets.

In [97]:
print(new_set.union(new_set_1)) # combines the data present in both sets

{1, 2, 3, 4, 5, 8}

In [98]:
print(new_set.intersection(new_set_1)) # finds the data present in both sets

{1, 3}

In [99]:
print(new_set.difference(new_set_1)) # deletes the data present in both and outputs data present only in the set passed.

{8, 2, 4, 5}

In [101]:
print(new_set.symmetric_difference(new_set_1))

{2, 4, 5, 8}